@use "global" as *;

.adoption-fv {
  position: relative;
  width: 100%;
  min-height: rem(659);
  height: 49.398vw;
  max-height: rem(1000);
  margin-top: rem(68);
  overflow: visible;
  @include mq("md") {
    margin-top: rem(60);
    min-height: auto;
    max-height: none;
    aspect-ratio: 375/480;
  }
}

.inner.adoption-fv__inner {
  position: relative;
  height: 100%;
  @include mq("md") {
    max-width: rem(550);
  }
}

.adoption-fv::after {
  background-image: url(../images/adoption/fv-pc.webp);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
  background-position: center;
  filter: brightness(0.8);

  @include mq(md) {
    background-size: 100% auto;
    background-position: center top;
  }
}

.adoption-fv__title {
  position: absolute;
  top: 38.6%;
  left: 49.7%;
  transform: translate(-50%, -50%);
  z-index: 80;
  text-align: center;

  @include mq(md) {
    top: clamp(rem(84), 25.6vw, rem(196));
  }
}

.adoption-fv__title img {
  width: clamp(rem(315), 29.02vw, rem(600));
  height: auto;

  @include mq(md) {
    width: clamp(rem(120), 36vw, rem(300));
  }
}
