@use "global" as *;

.adoption-works {
  background-color: $white;
  padding-top: rem(64);
  padding-bottom: rem(124);

  @include mq("md") {
    padding-top: rem(40);
    padding-bottom: rem(60);
  }
}

.adoption-works__section-title.section-title {
  margin-left: 0;
}

.adoption-works__section-title .section-title__ja,
.adoption-works__section-title .section-title__en {
  text-align-last: left;
  letter-spacing: 0.08em;
}

.adoption-works__section-title .section-title__en {
  text-transform: uppercase;
  margin-top: 0;
}

.adoption-works__items {
  position: relative;
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(30);
  }
}

.adoption-works__swiper {
  width: 100%;
  max-width: rem(1100);
  margin-inline: auto;
}

.adoption-works__swiper .swiper-wrapper {
  align-items: stretch;
}

.adoption-works__swiper .swiper-slide {
  width: 344px;
  height: auto;
  flex-shrink: 0;
  @include mq("md") {
    width: 250px;
  }
}

.works-button-prev.card-button-prev {
  cursor: pointer;
  display: block;
  position: absolute;
  top: -34%;
  right: 7.2%;

  @include mq(md) {
    right: 16.3%;
  }
}

.works-button-prev.card-button-prev::after {
  content: "\f053";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: color 0.3s;
  color: $black;
  font-size: rem(20);

  @include mq(md) {
    left: rem(-15);
  }
}

.works-button-next.card-button-next {
  cursor: pointer;
  display: block;
  position: absolute;
  top: -34%;
  right: 1.3%;

  @include mq(md) {
    right: 4.8%;
  }
}

.works-button-next.card-button-next::after {
  content: "\f054";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: color 0.3s;
  color: $black;
  font-size: rem(20);
}

.works-button-next.card-button-next:hover::after,
.works-button-next.card-button-prev:hover::after {
  color: $green;
}

.adoption-works .card {
  padding-top: rem(5);
  border-bottom: 3px solid $black;
  padding-bottom: rem(36);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: rem(344);
  height: 100%;

  @include mq(md) {
    width: rem(250);
  }
}

.adoption-works .card:hover {
  opacity: 0.7;
  border-bottom: 3px solid $green;
}

.adoption-works .card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.adoption-works .card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
  position: relative;
}

.adoption-works .card__tag-wrapper {
  position: absolute;
  width: rem(169);
  aspect-ratio: 145/38;
  right: rem(-10);
  top: rem(-4);
  z-index: 2;
}

.adoption-works .card__tag-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../images/top/tag-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.adoption-works .card__tag {
  color: $green;
  font-weight: $medium;
  font-size: rem(14);
  z-index: 2;
  position: relative;
  text-align: center;
  margin-top: rem(6);
}

.adoption-works .card__img {
  width: rem(344);
  height: rem(222);
  flex-shrink: 0;
  overflow: hidden;

  @include mq(md) {
    width: auto;
    height: auto;
  }
}

.adoption-works .card__content {
  line-height: calc(26 / 16);
  width: 83%;
  margin-top: rem(10);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  gap: rem(6);
  @include mq("md") {
    width: 90%;
  }
}

.adoption-works .card__date {
  font-size: rem(15);
  font-weight: $medium;
  color: $gray;
  line-height: 1.6;
  min-height: calc(1em * 1.6);
  @include mq("md") {
    font-size: rem(14);
  }
}

.adoption-works .card__title {
  font-size: rem(16);
  font-weight: $bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6;
  min-height: calc(1em * 1.6 * 2);
  @include mq("md") {
    font-size: rem(15);
  }
}
