@use "global" as *;

.adoption-works {
  background-color: $white;
  padding-top: rem(64);
  padding-bottom: rem(124);

  @include mq("md") {
    padding-top: rem(40);
    padding-bottom: rem(60);
  }
}

.section-title.adoption-works__section-title {
  margin-left: 0;
}

.adoption-works__section-title .section-title__ja,
.adoption-works__section-title .section-title__en {
  text-align: left;
  letter-spacing: 0.08em;
}

.adoption-works__section-title .section-title__en {
  text-transform: uppercase;
  margin-top: 0;
}

.adoption-works__items {
  position: relative;
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(30);
  }
}

.adoption-works__swiper {
  margin-right: calc(50% - 50vw);
  overflow: visible;
}

.works-button-prev.card-button-prev::after {
  font-size: rem(20);
}

.works-button-next.card-button-next::after {
  font-size: rem(20);

  @include mq(md) {
    left: rem(-15);
  }
}

.adoption-works .card__title {
  line-height: 1.6;
  min-height: calc(1em * 1.6 * 2);
}
