@use "global" as *;

.page-adoption-interview {
  background-color: $bg-green;
  padding-top: rem(131);
  padding-bottom: rem(197);

  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.page-adoption-interview__list {
}

.page-adoption-interview__list:not(:first-child) {
  margin-top: rem(236);

  @include mq(md) {
    margin-top: rem(100);
  }
}

.interview__visual {
  position: relative;
  display: inline-block; //vertical-alignが効かず、画像の下に隙間ができてしまうのを防ぐ保険
  width: 100%;
  max-width: rem(862);
}

.interview__visual--reverse {
  margin-left: auto;
  display: block;
}

.interview__image {
  width: 100%;
  height: auto;
  aspect-ratio: 862 / 520;
  display: inline-block;
  object-fit: cover;
  vertical-align: bottom;
}

.page-adoption-interview__section-heading {
  position: absolute;
  top: 0;
  left: 11.137%;
  z-index: 10;
  transform: translateY(-56%);
  font-weight: $bold;
  color: $green;

  @include mq(md) {
    left: 6.6%;
  }
}

.interview__visual--reverse .page-adoption-interview__section-heading {
  left: auto;
  right: 11.137%;

  @include mq(md) {
    right: 6.6%;
  }
}

.page-adoption-interview__heading-text {
  font-size: rem(40);
  display: flex;
  align-items: baseline;
  gap: rem(8);

  @include mq(md) {
    font-size: rem(20);
  }
}

.page-adoption-interview__heading-number {
  font-size: rem(56);

  @include mq(md) {
    font-size: rem(28);
  }
}

.interview__info {
  position: absolute;
  right: rem(57);
  bottom: 0;
  z-index: 20;
  background-color: rgba(214, 201, 0, 0.6);
  max-width: rem(250);
  width: 100%;
  transform: translateY(-20%);
  color: #000;
  padding: rem(8);

  @include mq(md) {
    max-width: rem(185);
    right: rem(16);
    bottom: rem(-10);
  }
}

.interview__visual--reverse .interview__info {
  left: rem(57);
  right: auto;

  @include mq(md) {
    left: rem(16);
  }
}

.interview__position {
  font-size: rem(20);
  font-weight: $medium;
  line-height: 1.3;

  @include mq(md) {
    font-size: rem(14);
  }
}

.interview__name {
  display: flex;
  align-items: baseline;
  gap: rem(10);
  margin-top: rem(13);

  @include mq(md) {
    gap: rem(5);
    margin-top: rem(6.5);
  }
}

.interview__name-text {
  font-size: rem(24);
  font-weight: $semibold;
  line-height: calc(29 / 24);

  @include mq(md) {
    font-size: rem(18.4);
  }
}

.interview__join {
  font-size: rem(18);
  font-weight: $regular;
  line-height: calc(22 / 18);

  @include mq(md) {
    font-size: rem(13.6);
  }
}

.interview__body {
  margin-top: rem(118);

  @include mq(md) {
    margin-top: rem(60);
  }
}

.interview__flex {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(md) {
    flex-direction: column;
  }
}

.interview__flex--reverse {
  flex-direction: row-reverse;
}

.interview__image-block {
  flex-shrink: 0;
  max-width: rem(538);
  width: 100%;
}

.interview__flex--reverse .interview__image-block {
  margin-left: rem(38);

  @include mq(md) {
    margin-left: 0;
  }
}

.interview__image-block img {
  width: 100%;
  height: auto;
  aspect-ratio: 538 / 476;
  display: block;
  object-fit: cover;
}

.interview__text-block {
  flex: 1;
  margin-left: rem(38);
  min-width: rem(300);

  @include mq(md) {
    margin-left: 0;
    min-width: rem(200);
  }
}

.interview__flex--reverse .interview__text-block {
  margin-left: 0;
}

.interview__title {
  font-size: rem(24);
  font-weight: $bold;
  color: $green;
  line-height: calc(29 / 24);

  @include mq(md) {
    font-size: rem(20);
    text-align: center;
    margin-top: rem(30);
  }
}

.interview__text {
  margin-top: rem(21);
  font-size: clamp(16px, calc(16px + (100vw - 1024px) * 0.007246), 18px);
  font-weight: $regular;
  line-height: calc(30 / 18);

  @include mq(lg) {
    font-size: clamp(12px, calc(12px + (100vw - 768px) * 0.015686), 16px);
  }

  @include mq(md) {
    font-size: rem(16);
  }
}
