@use "global" as *;

.page-adoption-section {
  color: $black2;
  font-family: $inter-font;
  -webkit-font-smoothing: antialiased; /* Chrome／Safari用 */
  -moz-osx-font-smoothing: grayscale; /* Firefox（macOS）用 */
  text-rendering: optimizeLegibility;
}
