@use "global" as *;

.page-adoption-point {
  background-color: $bg-green;
  padding-top: rem(60);
  padding-bottom: rem(154);

  @include mq(md) {
    padding-top: rem(60);
    padding-bottom: rem(60);
  }
}

.page-adoption-point__inner {
}

.page-adoption-point__contents {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-adoption-point__contents:not(:first-of-type) {
  margin-top: rem(130);

  @include mq(md) {
    margin-top: rem(60);
  }
}

.page-adoption-point__content {
  max-width: rem(1100);
  width: 100%;
  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-adoption-point__content--medium {
  padding-top: rem(35);
  padding-right: rem(22);
  padding-bottom: rem(41);
  padding-left: rem(79);

  @include mq(md) {
    padding: rem(14);
  }
}

.page-adoption-point__content--large {
  padding-top: rem(41);
  padding-right: rem(22);
  padding-bottom: rem(40);
  padding-left: rem(31);

  @include mq(md) {
    padding: rem(15);
  }
}

.page-adoption-point__content--culture {
  padding-top: rem(34);
  padding-right: rem(22);
  padding-bottom: rem(55);
  padding-left: rem(31);

  @include mq(md) {
    padding: rem(15);
  }
}

.page-adoption-point__heading {
  font-weight: $bold;
  color: $green;
  font-size: rem(24);
  line-height: calc(40 / 24);
  text-align: center;
  padding-left: rem(33);

  @include mq(md) {
    font-size: rem(18);
    padding-left: 0;
  }
}

.page-adoption-point__heading--balance {
  padding-left: rem(80);

  @include mq(md) {
    padding-left: 0;
  }
}

.page-adoption-point__heading--culture {
  padding-left: 0;
}

.page-adoption-point__flex {
  margin-top: rem(34);
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(md) {
    margin-top: rem(14);
    flex-direction: column;
  }
}

.page-adoption-point__flex--even {
  flex-direction: row-reverse;
}

.page-adoption-point__flex--culture {
  flex-direction: column;
}

.page-adoption-point__text {
  font-size: rem(18);
  font-weight: $regular;
  line-height: calc(30 / 18);
  color: #000;

  @include mq(md) {
    font-size: rem(14);
  }
}

.page-adoption-point__text--culture {
  margin-top: rem(6);

  @include mq(md) {
    margin-top: 0;
  }
}

.page-adoption-point__image {
  flex-shrink: 0;
  width: 100%;
  height: auto;
}

.page-adoption-point__image--medium {
  margin-left: rem(14);
  max-width: rem(470);
  aspect-ratio: 470/252;

  @include mq(md) {
    margin-top: rem(14);
    margin-left: 0;
  }
}

.page-adoption-point__image--large {
  margin-right: rem(18);
  max-width: rem(502);
  aspect-ratio: 502/265;

  @include mq(md) {
    margin-top: rem(14);
    margin-right: 0;
  }
}

.page-adoption-point__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.page-adoption-point__video {
  margin-top: rem(26);
  flex-shrink: 0;
  width: 100%;
  max-width: rem(808);
  aspect-ratio: 800 / 450;
  overflow: hidden;

  @include mq(md) {
    margin-top: rem(14);
  }
}

.page-adoption-point__video iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: none;
}
