@use "global" as *;

.page-adoption-message {
  padding-top: rem(60);
  padding-bottom: rem(100);
  background-color: $bg-green;

  @include mq(md) {
    padding-top: rem(30);
    padding-bottom: rem(30);
  }
}

.page-adoption-message__inner.inner {
  padding-right: rem(26);
  padding-left: rem(37);
}

.page-adoption-message__bg {
  background-image: url("../images/adoption/message-bg01.webp"),
    url("../images/adoption/message-bg02.webp");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 70%, 100% 30%;
  background-position: center top, center bottom;
  padding-top: rem(45);
  padding-right: rem(26);
  padding-bottom: rem(41);
  padding-left: rem(20);

  @include mq(md) {
    padding: rem(20);
    background-image: url("../images/adoption/message-bg02.webp");
    background-repeat: repeat-y;
    background-size: auto;
    background-position: center top;
  }
}

.page-adoption-message__wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  padding-right: rem(34);
  padding-left: rem(38);
  padding-top: rem(8);
  padding-bottom: rem(142);

  @include mq(md) {
    padding: rem(20);
  }
}

.page-adoption-message__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: rem(65);
  padding-right: rem(22);

  @include mq(md) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.page-adoption-message__logo {
  margin-top: rem(30);
}

.page-adoption-message__logo img {
  max-width: rem(333);
  width: 100%;
  height: auto;
  aspect-ratio: 333/289;

  @include mq(md) {
    max-width: rem(167);
  }
}

.page-adoption-message .page-adoption-fv__title {
  text-shadow: none;
}

.page-adoption-message__body {
  margin-top: rem(84);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.page-adoption-message__text,
.page-adoption-message__name {
  font-size: rem(18);
  color: #000;
  line-height: calc(35 / 18);

  @include mq(md) {
    font-size: rem(14);
  }
}

.page-adoption-message__text {
  font-weight: $regular;
}

.page-adoption-message__text + .page-adoption-message__text {
  margin-top: rem(54);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.page-adoption-message__name {
  text-align: right;
  font-weight: $medium;
  margin-top: rem(28);
  padding-right: rem(14);

  @include mq(md) {
    margin-top: rem(24);
  }
}

.page-adoption-message__name--strong {
  font-size: rem(24);
  line-height: calc(35 / 24);
  margin-left: rem(18);

  @include mq(md) {
    font-size: rem(20);
  }
}
