@use "global" as *;

.page-adoption-training {
  background-color: $bg-green;
  padding-top: rem(70);
  padding-bottom: rem(190);

  @include mq(md) {
    padding-top: rem(60);
    padding-bottom: rem(60);
  }
}

.page-adoption-training__contents {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: rem(33);
  padding-right: rem(50);
  padding-left: rem(50);
  padding-bottom: rem(66);

  @include mq(md) {
    padding: rem(30) rem(20);
  }
}

.page-adoption-training__section-heading {
  margin: 0 auto;
}

.page-adoption-training__description {
  margin-top: rem(25);

  @include mq(md) {
    margin-top: rem(20);
  }
}

.page-adoption-training__heading {
  font-size: rem(24);
  line-height: calc(40 / 24);
  font-weight: $bold;
  color: $green;
  text-align: center;
  padding-left: rem(9);

  @include mq(md) {
    font-size: rem(18);
  }
}

.page-adoption-training__text {
  margin-top: rem(21);
  font-size: rem(18);
  font-weight: $medium;
  line-height: calc(30 / 18);
  color: #000;

  @include mq(md) {
    font-size: rem(14);
  }
}

.page-adoption-training__cards {
  margin-top: rem(50);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.page-adoption-training__card:not(:first-of-type) {
  margin-top: rem(45);

  @include mq(md) {
    margin-top: rem(25);
  }
}
