@use "global" as *;

.page-adoption-fv {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 1300 / 560;
  display: flex;
  align-items: flex-end;
}

.page-adoption-fv--point {
  background-image: url("../images/adoption/point-fv.webp");
}

.page-adoption-fv--training {
  background-image: url("../images/adoption/training-fv.webp");
}

.page-adoption-fv--interview {
  background-image: url("../images/adoption/interview-fv.webp");
}

.page-adoption-fv__inner {
  padding: clamp(rem(30), 5.923vw, rem(77)) clamp(rem(37), 7.387vw, rem(96));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include mq(md) {
    padding: clamp(rem(16), 4.267vw, rem(32));
  }
}

.page-adoption-fv__title {
  color: $green;
  text-shadow: 0 4px 4px $white;
}

.page-adoption-fv__title--white {
  color: $white;
  text-shadow: none;
}

.page-adoption-fv__en {
  display: block;
  font-size: rem(24);
  font-weight: $semibold;
  text-align: center;

  @include mq(md) {
    font-size: clamp(rem(12), 3.2vw, rem(16));
  }
}

.page-adoption-fv__ja {
  font-size: rem(64);
  font-weight: $bold;
  line-height: 1;

  @include mq(md) {
    font-size: clamp(rem(22), 6.933vw, rem(40));
  }
}
