@use "sass:math";

//---------------------------
// インナー幅
//---------------------------
$inner: 1100px;

//---------------------------
// 余白
//---------------------------
$padding-pc: 30px;
$padding-sp: 20px;

//---------------------------
// フォント
//---------------------------
$base-font: "Noto Sans JP", sans-serif;
$serif-font: "Noto Serif JP", serif;
$YuGothic-font: "游ゴシック体", "Yu Gothic", "Hiragino Kaku Gothic ProN",
  sans-serif;
$roboto-font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$inter-font: "Inter", "Noto Sans JP", "Roboto", "Helvetica Neue", Arial,
  sans-serif;

//---------------------------
// 文字の太さ
//---------------------------
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

//---------------------------
// 色
//---------------------------
$white: #fff;
$black: #44403f;
$green: #007e3c;
$bg-green: #f5fbec;
$gray: #7c7a79;

body {
  font-family: $base-font;
  color: $black;

  // 追加//
  font-family: "Yu Gothic", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-feature-settings: "palt" 1, "kern" 1; /* プロポーショナル詰めを有効化 */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
