@use "global" as *;

.u-font14 {
  font-size: rem(14);
}

.u-font16 {
  font-size: rem(16);
}

.u-font18 {
  font-size: rem(18);
}

.u-font20 {
  font-size: rem(20);
}

.u-font22 {
  font-size: rem(22);
}

.u-font24 {
  font-size: rem(24);
}

.u-font28 {
  font-size: rem(28);
}

.u-font32 {
  font-size: rem(32);
}

.u-font40 {
  font-size: rem(40);
}
