@use "global" as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: rem(68);
  background: #fff;
  z-index: 1000;
  transition: 0.3s;
  display: none; //ピクパ確認用
  @include mq("md") {
    height: rem(60);
  }
}

.header__inner {
  padding-right: rem(50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;

  @include mq("md") {
    padding-left: rem(0);
    padding-right: rem(20);
  }
}

.header__logo {
  height: inherit;
  position: relative;
  z-index: 100;
  @include mq("md") {
    z-index: 50;
  }
}

.header__logoLink {
  height: inherit;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
}

.header__logoLink:hover {
  opacity: 0.7;
}

.header__logoLink img {
  width: rem(254);
  height: auto;
  aspect-ratio: 254/84;

  @include mq("md") {
    width: auto;
    height: rem(60);
  }
}

.header__pc-nav {
  height: inherit;
  display: flex;
  @include mq("md") {
    display: none;
  }
}

.header__sp-nav {
  display: none;
  @include mq("md") {
    display: block;
  }
}

.header__drawer {
  display: none;
  @include mq("md") {
    display: block;
  }
}
