@use "global" as *;

.section-heading {
  display: block;
  font-family: $inter-font;
  font-weight: $semibold;
  font-size: rem(48);
  line-height: calc(58 / 48);
  color: $black;
}

.page-adoption-appeal__section-heading.section-heading--even {
  margin-left: auto;
  margin-right: rem(22);
}

.section-heading__text {
  display: block;
  text-decoration-line: underline;
  text-decoration-color: #e6d63a;
  text-decoration-thickness: 0.2em;
  text-underline-offset: -0.17em;
  text-decoration-skip-ink: none;
}
