@use "global" as *;

.training-card {
  background-color: $green;
  color: $white;
  width: 100%;
}

.training-card__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: rem(30) rem(79);

  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
    padding: rem(24);
  }
}

.training-card__content {
}

.training-card__title {
  font-size: rem(32);
  font-weight: $semibold;
  line-height: 1;

  @include mq(md) {
    font-size: rem(24);
  }
}

.training-card__text {
  margin-top: rem(21);
  font-size: rem(18);
  font-weight: $regular;
  line-height: calc(30 / 18);

  @include mq(md) {
    font-size: rem(14);
  }
}

.training-card__number {
  font-size: rem(96);
  font-weight: $bold;
  line-height: 1;
  flex-shrink: 0;
  margin-left: rem(59);
}
