@use "global" as *;

.training-card {
  background-color: $green;
  color: $white;
  width: 100%;
}

.training-card__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(29) rem(79);

  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
    padding: rem(24);
  }
}

.training-card__content {
}

.training-card__title {
  font-size: rem(32);
  font-weight: $semibold;
  line-height: 1;

  @include mq(md) {
    font-size: rem(20);
    text-align: center;
  }
}

.training-card__text {
  margin-top: rem(21);
  font-size: rem(18);
  font-weight: $regular;
  line-height: calc(30 / 18);

  @include mq(md) {
    font-size: rem(14);
  }
}

.training-card__number {
  font-size: rem(96);
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-left: clamp(rem(60), 5.33vw, rem(64));

  @include mq(md) {
    font-size: rem(40);
    margin-left: 0;
    margin-top: rem(10);
    width: 100%;
    text-align: right;
  }
}

.training-card__number--large {
  margin-top: rem(-33);
}

.training-card__number--short {
  padding-right: rem(19);

  @include mq(md) {
    padding-right: rem(8);
  }
}
